{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block head %}
<!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.js"></script -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
<style type="text/css">
#tg-multi{
    width: 600px !important;

}
</style>
<script type="text/javascript">
// TalkGroup Data
url3 = '/api_v1/talkgroups/?format=json';
function load_tg() {
    $.getJSON(url3, function(data) {
      url3 = data.next;
        for (var a in data.results) {
            $('.tg-multi-select').append($('<option>', {
                 value: data.results[a].slug,
                 text: data.results[a].alpha_tag + " - " + data.results[a].description
            })).select2();
        }
      if(url3) {
         load_tg();
      }
    });
}

$(document).ready(function() {
  $(".tg-multi-select").select2({
placeholder: "Enter Talk Groups to Scan"
});

load_tg();

});
</script>
{% endblock %}
{% block main-body %}
<div class="container">
	<div class="row">
		<div id="muti-select" class="col-sm-12 col-md-8 col-lg-8">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>
			<select id="tg-multi" class="tg-multi-select" multiple="multiple">
			</select>
			<button type="button" onclick="update_scan_list()">Update Scan List</button> 
		</div>
	</div>
	<div class="row">
		<div id="main-data-table" class="col-sm-12 col-md-8 col-lg-8">
		</div>
		<div class="col-md-4 col-lg-4">
			<!--
			<div class="alert alert-danger fade in">
				<a href="#" class="close" data-dismiss="alert">&times;</a>
				<strong>Error!</strong><p>South Site Offline.</p>
			</div>
			-->
			<!--
			<p>Filter on TalkGroups</p>
			<p>Build Scan Lists</p>
			-->

		</div>
	</div>
        {% get_user_time user as anonymous_time %}
        {% if not user.is_authenticated and anonymous_time != 0 %}
        <div id="anoymous_time_warn" style="display: none" class=" alert alert-danger" role="alert">
        You are not currently logged into the system. {% if anonymous_time.minutes == -1%} <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a> to access the system.{% else %}You will only see the last {{ anonymous_time.display }} of history. <a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a> or <a href="{% url 'register' %}?next={{ request.path | urlencode }}">Create</a> a free acount to see more history.{% endif %}
        </div>
        {% else %}
        <div id="anoymous_time_warn" style="display: none" class=" alert alert-danger" role="alert">
        Your current plan access allows you to listen to radio traffic up to {{ anonymous_time.display }} ago. You need to make an account and login with it to listen to older audio.
        </div>
        {% endif %}
        <div id="jPlayer"><div id="jquery_jplayer_1"></div></div>
</div>
{% endblock %}
