{% load radio_extras %}

<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">{% get_setting 'SITE_TITLE' %}</a>
  <div class="header-audio-control"><span id="head-play-button" class="play-menu"><button type="button" class="btn btn-primary start-btn" onclick="start_scanner()"><i class="fa fa-play fa-fw"></i> Start Scanner</button><button type="button" class="btn btn-primary stop-btn" onclick="stop_scanner()"><i class="fa fa-stop fa-fw"></i> Stop Scanner</button></span></div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScan" aria-controls="navbarScan" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<!--nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      
   </div -->
   <div class="collapse navbar-collapse" id="navbarScan">
      <ul class="nav navbar-nav mr-auto">
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Scan Lists<b class="caret"></b></a>
            <ul id="menu-scanlist" role="menu" class="dropdown-menu">
               <li class="divider"></li>
               <li><a href="/userscan/">Custom Scan List</a></li>
            </ul>
         </li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Talk Groups<b class="caret"></b></a>
            <ul id="menu-talkgrouplist" role="menu" class="dropdown-menu">
                <li class="divider"></li>
                <li><a href="/talkgroups/">List All Talk Groups</a></li> 
            </ul>
         </li>

         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Control Panel<b class="caret"></b></a>
            <ul id="menu-userpanel" role="menu" class="dropdown-menu">
                {% get_setting 'SHOW_PLAN_LINK' as show_plans %}{% if show_plans %}<li><a href="{% url 'plans' %}">Plans</a></li>{% endif %}
                {% if user.is_authenticated %}{% get_setting 'SHOW_PROFILE_LINK' as show_profile %}{% if show_profile %}<li><a href="{% url 'user_profile' %}">Profile</a></li>{% endif %}{% endif %}
                {% if user.is_staff %}<li><a href="/admin/">Admin</a></li>
                <li><a href="/admin/radio/">Radio Admin</a></li>{% endif %}
                <li><a href="{% url 'about' %}">About ScanJoCo</a></li>
            </ul>
         </li>
		 
		 <li class="dropdown">
		 
			<li>{% if user.is_authenticated %}<a href="{% url 'logout' %}?next={{ request.path | urlencode }}">Logout</a>{% else %}<a href="{% url 'login' %}?next={{ request.path | urlencode }}">Login</a>{% endif %}</li>
		 
		 </li>
		 
      </ul>
   </div>
</nav> 

<!--
<div class="btn-group dropup">
<a class="btn btn-primary start-btn" href="#"><i class="fa fa-play fa-fw"></i> Start Scanner</a>
  <a class="btn btn-primary dropdown-toggle start-btn" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a href="#"><i class="fa fa-pencil fa-fw"></i> Edit</a></li>
    <li><a href="#"><i class="fa fa-trash-o fa-fw"></i> Delete</a></li>
    <li><a href="#"><i class="fa fa-ban fa-fw"></i> Ban</a></li>
    <li class="divider"></li>
    <li><a href="#"><i class="fa fa-unlock"></i> Make admin</a></li>
  </ul>
</div> -->


