<!DOCTYPE html>
<html lang="en">
{% load radio_extras %}
{% load radio_js_config %}
{% trunkplayer_js_config request.user as js_config %}
<head>
{% block google-analytics %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MXWLWP4S2X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MXWLWP4S2X');
</script>
<script async src="https://www.googleoptimize.com/optimize.js?id=GTM-5CMJH48"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{% get_setting 'GOOGLE_ANALYTICS_PROPERTY_ID' %}', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Online scanner for Johnson County KS P25 radio traffic."/>
<title>{% get_setting 'SITE_TITLE' %}</title>
<script>
js_config = {{ js_config|safe }}
</script>
<script src="{% get_setting 'CDN_URL_BASE' %}/js/jquery-3.5.1.min.js"></script>
<script src="{% get_setting 'CDN_URL_BASE' %}/js/popper.min.js" defer></script>
<script src="{% get_setting 'CDN_URL_BASE' %}/js/bootstrap.min.js" defer></script>
<script src="{% get_setting 'CDN_URL_BASE' %}/js/jquery.jplayer.js" defer></script>
<script src="{% get_setting 'CDN_URL_BASE' %}/fa/js/all.min.js" defer></script>
<script src="{% get_setting 'CDN_URL_BASE' %}/radio/js/trunkplayer.js" defer></script>
<script src="{% get_setting 'CDN_URL_BASE' %}/radio/js/reconnecting-websocket.min.js" defer></script>
<script src="{% get_setting 'CDN_URL_BASE' %}/radio/js/live_calls2.js" defer></script>
{% block pre-head %}{% endblock %}

<link href="{% get_setting 'CDN_URL_BASE' %}/img/apple-touch-icon.png" rel="apple-touch-icon" />
<link href="{% get_setting 'CDN_URL_BASE' %}/img/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76" />
<link href="{% get_setting 'CDN_URL_BASE' %}/img/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120" />
<link href="{% get_setting 'CDN_URL_BASE' %}/img/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152" />
<link href="{% get_setting 'CDN_URL_BASE' %}/img/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180" />
<link href="{% get_setting 'CDN_URL_BASE' %}/img/icon-hires.png" rel="icon" sizes="192x192" />
<link href="{% get_setting 'CDN_URL_BASE' %}/img/icon-normal.png" rel="icon" sizes="128x128" />

<!-- Moved to CDN
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.js"></script> 
<script src="https://use.fontawesome.com/c792248a2e.js"></script>-->

<link rel="stylesheet" href="{% get_setting 'CDN_URL_BASE' %}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{% get_setting 'CDN_URL_BASE' %}/css/trunkplayer.css"> 
{% get_setting 'COLOR_CSS' as color_css %}
{% if color_css %}
<link rel="stylesheet" href="/static/radio/css/{{ color_css }}">
{% endif %}

{% block head %}{% endblock %}
</head>
<body>
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}

{% block main-body %}{% endblock %}

<hr />
</body>
</html>                                		
