{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
        <div id="main-message" style="display: none" class=" alert alert-danger" role="alert">
        </div>
	<div class="row">

<table style="width:100%!important;">
    <thead>
        <tr>
            {% if user.is_staff %}<th>Admin</th>{% endif %}
            <th>ID</th>
            <th>Site</th>
            <th>Mode</th>
            <th>Talkgroup Name</th>
            <!--th>Description</th-->
            <th>Notes</th>
            {% if user.is_staff %}<th>Last Transmission</th>{% endif %}
        </tr>
    </thead>
    <tbody>
    {% for tg in talkgroups %}
        <tr>
            {% if user.is_staff %}<td><a href="/admin/radio/talkgroup/{{ tg.pk }}/change/">Edit</a></td>{% endif %}
            <td>{{ tg.dec_id }}</td>
            <td>{{ tg.home_site }}</td>
            <td>{% if tg.mode == "D" %}Clear{% elif tg.mode == "X" %}Mixed{% elif tg.mode == "A" %}Analog{% else %}Encrypted{% endif %}<!--{{ tg.mode }}--></td>
            <td><a href="/tg/{{ tg.slug }}/">{{ tg.alpha_tag }}</a></td>
            <!--td>{{ tg.description }}</td-->
            <td>{% if tg.comments %}{{ tg.comments }}{% else %}&nbsp;{% endif %}</td>
            {% if user.is_staff %}<td>{{ tg.last_transmission }}</td>{% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
	</div>
</div>
{% endblock %}
