<script type="text/javascript">
    $('#id_dec_id').prop('readonly', true);
</script>

<div class="modal-body">
<h3>Update Unit Description</h3>
<form id="update-unit-form" action="{{ request.path }}" method="post" autocomplete="off">
{% csrf_token %}
{{ form.non_field_errors }}

You are editing Unit ID {{ form.dec_id }} <br /><br />

Input name of unit: {{ form.description }}<br />
What type of radio? {{ form.type }}<br />
 <button type="submit" class="btn btn-default unitapply"> Apply </button>
 <button type="button" class="btn btn-default unitignore" data-dismiss="modal"> Cancel </button> 
</form>
</div>
<script>
unit_edit_post_setup();
</script>
