{% extends "radio/site_base.html" %}
{% load radio_extras %}
{% block main-nav %}
{% include "radio/site_live_nav.html" %}
{% endblock %}
{% block main-body %}
<div class="container">
        <div class="row">
<div class="col-xs-12">
{% get_setting 'OPEN_SITE' as open_site %}
{% if form.errors %}
<p></p>
<div class="alert alert-danger">
Your username and password didn't match. Please try again. If you have an account you can <a href="{% url 'account_reset_password' %}">recover your password</a>.{% if open_site %} Or create a <a href="{% url 'register' %}{% if next %}?next={{ next}}{% endif %}">new account</a>.{% endif %}
</div>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Login Portal</p>
    {% endif %}
{% endif %}

Don't have an account on ScanJoCo.us? {% if open_site %}<a href="{% url 'register' %}{% if next %}?next={{ next}}{% endif %}">Create an account!</a>{% endif %}


<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table border="0">
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}<br /><a href="{% url 'account_reset_password' %}">Forgot password?</a></td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% if open_site %}
<h2>Need Assistance?</h2>
<p>If you have any questions or comments you can email us at <a href="mailto:{% get_setting 'SITE_EMAIL' %}">{% get_setting 'SITE_EMAIL' %}</a>.</p>
{% endif %}
{# Assumes you setup the password_reset view in your URLconf #}
<!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->


</div>
</div>
</div>
{% endblock %}

{% block main-footer %}
{% endblock %}
